%h1 #{@user.name}'s entries
.content
  %ul.images
    - @user.entries.each do |entry|
      - unless entry.image.thumb.url.blank?
        %li.image 
          = link_to explore_entry_path(entry) do 
            .photo
              = image_tag entry.image.thumb.url
          .caption
            = link_to explore_entry_path(entry) do 
              .list-item #{entry.list_item.name}
            .author
              %a{href: "#{show_user_path(entry.user)}"} #{entry.user.name}
:javascript
  $(document).ready(function(){
    $("img").load(function(){
        var container = document.querySelector('.images');
        var msnry = new Masonry( container, {
          // options
          columnWidth: ".image",
          gutter: 10,
          itemSelector: '.image'
        }); 
    });
  });
