.display
  %h1.colored.green
    = @game.name
  .content
    .game
      %h2= raw "#{@game.start_date.strftime("%m/%d/%Y")} &mdash; #{@game.end_date.strftime("%m/%d/%Y")}"
      %p.description= @game.description
      - if current_user
        %ul
          - @game.list_items.each do |li|
            = link_to li_entry_path(li) do
              %li{class: "#{current_user.solved(li)}"}
                = li.name
      - else
        %p.running
          %span.warn This game is still running.
        %p Check back when it's over to see all the entries, or log in with Facebook to join in the fun!
