!!!
%html
  %head
    %title Snapsplore
    %meta{name:"viewport", content:"width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{class: "#{params[:controller]} #{params[:action]}"}
    .container
      .header
        = render 'shared/header'
        .notices
          = render 'shared/notices'
      .main
        .control
          = yield
      .overlay.hidden
      .modal.hidden
        %h2
          Uploading photo...
    .footer
      = render 'shared/footer'
    %script{type: "text/javascript", src:"//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-574e45ec5304dca1"}
    :javascript
      $(document).ready(function(){
        $("a[rel^='prettyPhoto']").prettyPhoto({
          social_tools: false,
          deeplinking:false,
          show_title:false,
          allow_resize:false,
          allow_expand:true
        });
      });